<!-- <p>home works!</p> -->

<div class="container">
    <div class="row">
      <h3>Your current Location</h3>
      <p>Longitute: {{lng}}</p>
      <p>Latittude: {{lat}}</p>
    </div>
  
    <button class="col-lg-12 btn btn-outline-primary" (click)="getUsers()">
      List Users
    </button>
  
    <div class="row">
      <div class="col-lg-3 p-3 mx-1 mt-3 border border-rounded" *ngFor="let user of users">
        <h3>{{user.first_name}} {{user.last_name}}</h3>
        <p>{{user.email}}</p>
        <button (click)="viewProfile(user.id)" class="btn btn-primary">View profile</button>
        <img class="p-3" src="{{user.avatar}}" alt="Image">
      </div>
    </div>
  </div>